@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext');
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    color: black;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
.fingrprint{
    width: 10%;
}
h3{
    color: #06679E;
    font-size: 18px;
    position: absolute;
    width: 88px;
    height: 17px;
    left: 10%;
    top: 35%;
}
body .bg-light{
    height: 71px;
    background-color: white !important;
}
.button1 .btn-sm{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    position: absolute;
    width: 258px;
    height: 42px;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    padding-top: 12px;
    color:#06ADD1;
    border-radius: 0;
}
.pic img{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 180px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("img/menu-24px 1.png");
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
.navbar-collapse{
    background-color: #06679E;
    position: absolute;
    width: 280px;
    height: 667px;
    left:26%;
    top: 0%;
}
.navbar-light .navbar-nav .nav-link{
    padding: 5%;
    color: white;
    width: 85%;
    text-align: left;
}
.navbar-nav{
    margin-top: 70px;
}
.nav-item{
    background-color: #0876B5;
    margin-bottom: 10px;
    height: 40px;
    border-left: 10px solid #045583;
}
.nav-link{
    position: relative;
}
.close{
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    opacity: 1;
}
#close{
    padding-left: 75%;
    font-size: 40px;
}
.contacts{
    position: absolute;
    top: 67%;
}
.col-sm-12 img{
    width: 27px;
    height: 40px;
    vertical-align: baseline;
}
.col-sm-12 p{
    position: absolute;
    top: 6%;
    left: 15%;
    width: 271px;
    height: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #06ADD1;
}
.col-sm-12 .content{
    top: 36%;
}
.col-sm-12 .last-light{
    top: 66%;
}
.col-sm-12 .content{
    color: #06679E;
}
.row{
    margin-bottom: 20px;
}
.last-light a{
    color: #06ADD1;
}
@media (min-width: 786px){
    .navbar-collapse{
        position: absolute;
        left: 30%;
        background-color: transparent;
        height: 87px;
    }
    .navbar-nav{
        margin-top: 0;
    }
    .navbar-nav li{
        margin-right: 20px;
    }
    .nav-item{
        background-color: transparent;
        border: none;
        width: 100%;
        height: 48px;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #C4C4C4;
        font-size: 19px;
        width: 123px;
        text-align: center;
    }
    .fingrprint{
        width: 5%;
    }
    h3{
        left: 7%;
        top: 26%;
        font-size: 27px;
    }
    .close{
        display: none;
    }
    .pic img{
        width: 45%;
        left: 50%;
        transform: translate(-50%, -0);
    }
    .row{
        width: 35%;
        display: inline-block;
    }
   .col-sm-12 .col-md-4{
       display: inline-block;
   }
   .col-sm-12 img{
        width: 60px;
        height: 60px;
    }
    .col-sm-12 p{
        height: 10%;
    }
    .contacts{
        left: 80%;
        top: 150%;
        transform: translate(-80%, -150%);
    }
    .col-sm-12 p{
        position: relative;
        font-size: 16px;
        left: 6%;
    }
}